* {
  font-family : helvetica;
  font-size: 12px;
}

.hero-image{
  max-width: 70%;
  height: auto;
  margin: auto;
  display: block;
}

.hero-sub-title{
  text-align:center;
  font-size: 2em;
  font-family : Times;
  padding-top:10px;
  padding-bottom:10px;
  background-color: black;
  color: white;
}

.flexbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.section-title{
  font-weight: bold;
}

.title {
padding-top: 3px;
font-size: 1.1em;
font-weight: normal;
padding-top: 3px;
padding-bottom: 3px;
}

.hr{
  height: 1px;
  color: grey;
  border: 0;
}



.column1{
  width: 25%;
  text-align: left;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;


}

.column2{
  width: 50%;
  padding-left: 5px;
}

.story-title {
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 5px;
}

.story-image {
width: 100%;
height: auto;
}

.story-text{
  font-size: 1.4em;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 5px;
}