* {
  font-family : helvetica;
  font-size: 12px;
}

.hero-image{
  max-width: 70%;
  height: auto;
  margin: auto;
  display: block;
}

.hero-sub-title{
  text-align:center;
  font-size: 2em;
  font-family : Times;
  padding-top:10px;
  padding-bottom:10px;
  background-color: black;
  color: white;
}

.flexbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.column1{
  width: 25%;
  text-align: left;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
}
.most-popular-wrapper{
  padding-left: 3px;
  padding-right: 3px;  
}

.most-popular-header{
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.most-popular-title {
  padding-top: 3px;
  font-size: 1.1em;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black; 
}

.hr{
  border: .1;
  border-color: orange;
}

.column2{
  width: 50%;
  padding-left: 5px;
}

a.story-title {
  font-size: 1.8em;
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.story-info{
  font-size:1em;
  font-weight: normal;
}

.story-image {
  width: 100%;
  height: auto;
}

.story-text{
  font-size: 1.4em;
  font-weight: normal;
  padding-bottom: 20px;
  padding-top: 5px;
}